@charset "utf-8";




:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursiva;
    --fonte3: 'Caveat', cursiva;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
    background-color: darkgray;
    font-family:var(--fonte1);

}
header {
    background-color: black;
    color: white;
    text-align: center;
    
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: "Titulo";
    font-size: 13vh;
}
header > p{
    padding-bottom: 50px;

}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: 'sunny';
    font-size: 3.5vh;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(136, 9, 9);
    color: white;
}
section.imagem >p{
   padding: 5px;
    background-color: #00000033;
    display: inline-block;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}