@charset "UTF-8";

/* id em html é # em css 
class em html é . em css
*/

body{
    background-color: rgba(120, 199, 245, 0.637);
    font-family: Arial, Helvetica, sans-serif;

}

h1{
    color: rgba(6, 17, 139, 0.863);
}

#principal{
    text-align: center;
    background-color: rgba(1, 181, 252, 0.459);
}

h2{
    color: rgba(11, 23, 184, 0.897);
}
.basico{
    color: rgb(30, 126, 30);
    font-weight: bold;
}
.intermediario{
    color: rgb(207, 207, 12);
}
.avancado{
    color: rgba(255, 0, 0, 0.692);
}
.destaque{
    background-color: rgba(204, 204, 95, 0.658);

}